h1 {
	color:  black;
	font-size:  200%;
	font-family: courier;
	text-align: center;
}
h2{
	color: rebeccapurple;
	font-family: verdana;
	padding-left: 1%;
}

div{
	display:  inline-block;
	width: 100%;
	border:  1px solid rgb(0,0,0,0.5);
	margin: 0px 0px 0px 0px;
}

p {
	color:  black;
	font-size: 18px;
	font-family: Monaco;
	padding-left: 3%;
	padding-right: 3%;
}

body#main_body{
	background-color: ghostwhite;
}

a:link{
	color: blue;
	text-decoration: none
	background-color: transparent;
}
a:hover{
	color: red;
	text-decoration: underline;
	background-color: transparent;
}
a:active{
	color: purple;
	text-decoration: underline;
	background-color: transparent;
}
a:active{
	color: purple;
	text-decoration: underline;
	background-color: transparent;
}
a:visited{
	color: purple;
	text-decoration: none;
	background-color: transparent;
}
address{
	text-align: center;
	color: rgb(0,0,0,.5);
}

#pascal {
	padding-left: 35%;
	padding-right: 35%;
	width: 30%;
}

#mountain_gif{
	 width: 50%;
	 float: left;
}

#forest{
	background-image: url('./photos/gifs/forest.gif');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#desert{
	background-image: url('./photos/gifs/desert.gif');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

body#snowing{
	background-image: url('./photos/gifs/snowing.gif');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

body#future_city{
	background-image: url('./photos/gifs/future_city.gif');
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 10%;
}
#testp{
	background-color: rgb(0,0,0,0.5);
	color: white;
	font-size: 20px;
}



